.main-nav {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  max-width: 100%;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  padding-left: 42px;
  text-transform: uppercase;
}

.nav-links li a {
  color: #33323d;
}
.nav-links li:hover a {
  color: #5fb4a2;
}

.logo {
  width: 100px;
  height: 32px;
}

@media (max-width: 767px) {
  .main-nav {
    margin-bottom: 40px;
  }
  .nav-links li {
    padding-left: 15px;
    font-size: 8px;
  }
  .logo {
    width: 57px;
  }
}
