.contact {
  padding-bottom: 109px;
  min-height: calc(100vh - 80px);
}

.contact_details {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 47px;
  border-top: solid 1px rgba(51, 50, 61, 0.15);
  position: relative;
}

.icons {
  display: flex;
  gap: 16px;
}

.row_text {
  width: 57%;
}

.row_text p {
  padding-bottom: 24px;
}

.row_text .icons svg * {
  fill: #33323d;
}

.icons svg {
  display: block;
  width: 24px;
  height: 24px;
}

.icons svg:hover * {
  fill: #5fb4a2;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.contact label {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.8;
}

.form_field input {
  height: 48px;
  padding: 9px 16px;
  border: none;
  background-color: rgba(51, 50, 61, 0.1);
  font-family: "Public Sans", sans-serif;
  color: rgba(51, 50, 61, 1);
}

.form_field textarea {
  padding: 9px 16px;
  border: none;
  background-color: rgba(51, 50, 61, 0.1);
  height: 96px;
  font-family: "Public Sans", sans-serif;
  color: rgba(51, 50, 61, 1);
}

.form_field textarea::placeholder,
.form_field input::placeholder {
  opacity: 0.5;
}

.btn_message {
  background: #203a4c;
  color: #fafafa;
  border: none;
}
.btn_message:hover {
  border: none;
}

.contact a {
  color: #33323d;
}

.contact #contact-form-disabled {
  position: relative;
}
.contact #contact-form-disabled::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}
.contact #contact-form-disabled::before {
  width: 100%;
  height: 25px;
  content: "This form has been temporarily disabled";
  color: tomato;
  font-family: "Public Sans", sans-serif;
  z-index: 5;
  position: absolute;
  top: 15px;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1023px) {
  .contact {
    padding-bottom: 96px;
  }
  .row {
    flex-direction: column;
  }

  .row_text {
    width: 80%;
  }

  .row h2 {
    padding-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .contact {
    padding-bottom: 80px;
  }

  .row_text {
    width: 100%;
  }
}

.fade {
  opacity: 0.5;
}

.modal {
  position: absolute;
  width: 60%;
  height: 60%;
  padding: 20px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 1;
  background: #fff;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #33323d;
}

.btn_message_modal {
  padding: 8px 12px;
  margin-top: 10px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: unset;
}

@media (max-width: 500px) {
  .modal {
    width: 90%;
  }
}
